@font-face{
	font-family: SpaceMono;
	src: url(fonts/Space_Mono/SpaceMono-Regular.ttf);
	font-style: normal;
}

@font-face{
	font-family: FredokaOne;
	src: url(fonts/Fredoka_One/FredokaOne-Regular.ttf);
	font-style: normal;
}

@font-face{
	font-family: Comfortaa;
	src: url(fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: inherit;
	scroll-behavior: smooth;
	scrollbar-width: 0;
	font-family: Comfortaa;
}

::-webkit-scrollbar{
	display: none;
}

.go_top_btn{
	position: fixed;
    bottom: 10px;
    right: 14px;

	width: 50px;
	height: 50px;
	border-radius: 50%;
    line-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #52565c;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
    z-index: 99;
}

#toggler{
	display: flex;
	margin-right: 2%;
}

#toggler_img{
	display:none;
	height: 45px;
	width: 45px;
}

.controls{
	height: 7%;
	display:  flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	align-items: center;
	background-color: #2c3135;
	z-index: 999;
}

.controls .logo{
	height: 7vh;
}

.controls #logo{
	height: 80%;
	padding: 10%;
	margin-left: 2%;
}

.links{
	height: 100%;
	width: 95%;
	margin: 0 2% 0 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.links li{
	margin: 0 10px;
}

.links a{
	text-decoration: none;
	font-family: FredokaOne;
	font-size: 17px;
	color: #f4f5f8;
	margin: 5px;
}

.links a:hover{
	text-decoration: underline;
	color: #c7bfbf;
}
 .links .active{
 	color: rgba(248, 178, 28, 0.8);
 }

.main_page{
	height: fit-content;
	min-height: 100%;
	width: 100%;
	background-color: #f4f5f8;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

@media (max-width: 720px) {
	#toggler{
		display: flex;
		justify-content: right;
		flex-direction: column;
		align-items: flex-end;
		width: 98%;
		height: fit-content;
	}

	#toggler_img{
		display:block;
		width: 45px;
		height: 45px;
		max-height: 5vh;
		padding: 2%;
	}

	.controls{
		height: fit-content;
		align-items: flex-start;
		justify-content: center;
		clip-path: polygon(0 0, 100% 0, 100% 7vh, 0 7vh);
		transition: clip-path 0.6s 0.25s ease-out, border-radius 0.25s;
		transition: top 0.7s, clip-path 0.6s ease-in;
	}

	.controls.open{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		transition: clip-path 0.6s ease-out;
	}

	.controls #logo{
		padding: 0;
		margin: 0;
		height: 45px;
		max-height: 5vh;
	}

	.controls .logo{
		height: 45px;
		max-height: 5vh;
		padding: 1.2vh;
	}

	.links{
		height: fit-content;
		width: 100%;
		margin: 0;
		padding: 0 2% 5% 0;
		flex-direction: column;
		align-items: flex-end;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.75s, visibility 0.75s;
	}
	.links.open{
		visibility: visible;
		opacity: 1;
		transition: opacity 0.45s 0.3s,  visibility 0.75s;
	}

	.links li{
		padding: 1.5em 0 10px 0;
		width: 100%;
		text-align: right;
		border-bottom: 3px solid white;
	}

	.links a{
		font-size: 18px;
	}
}

@media (max-height: 500px) {
	.controls {
		height: 15%;
		transition: top 0.7s;
	}

	.controls .logo {
		height: 100%;
	}
}

/*Greeting page
start*/
#greeting {
	background-color: transparent;
}

#greeting span{
	max-height: 50%;
	max-width: 80%;
	padding: 5% 20%;
	padding-bottom: 5%;
	text-align: center;
}

#greeting h2{
	font-size: 50px;
}

#greeting h3{
	font-size: 25px;
}

#greeting .position{
	width: fit-content;
	margin: auto;
	color: white;
	padding: 0 0.5em;
	background-color: rgba(248, 178, 28, 1);
	border-radius: 50px;
}

#greeting .position h3{
	padding: 5px;
}

#greeting p{
	width: 60%;
	margin: 0 20%;
	font-size: 13px;
}

/*About page
start*/
#about{
	min-height: 80%;
	height: fit-content;
	padding: 5% 0;
	background-color: #f4f5f8;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#about .about_info{
	max-height: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#about .about_info img{
	width: 20%;
	margin-left: 5%;
	box-shadow: 0.5em 0.5em 5px #c7bfbf;
	border-radius: 5px;
}

#about .about_info span{
	margin: 0 10%;
	margin-bottom: 5%;
}

#about .about_info h2{
	font-size: 40px;
}

#about .about_info h3{
	font-size: 20px;
}

#about .about_info p{
	font-size: 16px;
}

#about .about_info span ul{
	font-size: 16px;
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

#about .about_info span ul li{
	padding-top: 0.4em;
}

#about .about_info button{
	display: inline-block;
  	text-align: center;
	vertical-align: middle;

  	background-color: transparent;
  	border: 3px solid rgba(248, 178, 28, 0.8);
  	border-radius: 1em;

  	color: rgba(248, 178, 28, 1);
  	font-family: FredokaOne;
  	font-size: 17px;

  	padding: 0.5em 1em;
  	line-height: 1.5;
  	border-radius: 1em;
  	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, 
  				border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

#about .about_info button:hover{
  	background-color: rgba(248, 178, 28, 1);
  	border-color: rgba(248, 178, 28, 1);
  	color: white;
}

#about .skills{
	width: 100%;
}

#about .my_skills{
	width: 50%;
	margin: 5% 25% 0.5em 25%;
	font-size: 40px;
	text-align: center;
}

#about .data{
	display: flex;
	justify-content: center;
}

#about .data h3{
	font-size: 25px;
	margin: 0 0 0.3em 0;
}

#about .data ul{
	list-style: none;
	font-size: 20px;
	padding: 0 10%;
}

#about .data ul li{
	padding-top: 0.5em;
}

@media (max-width: 716px){
	#about .about_info{
		display:flex;
		flex-direction: column;
	}

	#about .about_info img{
		margin-top: 10%;
		width: 50%;
	}

	#about .about_info h2{
		font-size: 30px;
	}

	#about .about_info h3{
		font-size: 16px;
	}

	#about .about_info p{
		font-size: 14px;
		text-align: center;
	}

	#about .about_info span{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#about .about_info span ul{
		font-size: 14px;
	}

	#about .about_info button{
		justify-content: center;
		font-size: 16px;
	}
	
	#about .skills h3{
		font-size: 25px;
	}
	
	#about .data{
		display: flex;
		justify-self: center;
	}

	#about .data h3{
		font-size: 16px;
	}

	#about .data ul{
		font-size: 14px;
		padding: 0;
	}

	#about .data .dev{
		width: 42.5%;
		padding-right: 2.5%;
		padding-left: 5%;
	}

	#about .data .langs{
		width: 42.5%;
		padding-right: 5%;
		padding-left: 2.5%;
	}
}
/*About page
end*/

/*Experience page
start*/
#experience	{
	width: 80%;
	padding-left: 10%;
	padding-top: 5%;
	background-color: white;
	margin-bottom: 5%;
	display: grid;
}

#experience .additional_exp{
	display: flex;
	align-items: flex-start;
}

#experience .education{
	width: 45%;
	padding-top: 5%;
	padding-right: 5%;
}

#experience	.education	hr{
	border: 1.5px solid rgba(248, 178, 28, 0.8);
	background-color: rgba(248, 178, 28, 0.8);
	border-radius: 2px;
}

#experience .projects{
	width: 50%;
	padding-top: 5%;
}

#experience ul{
	padding: 0;
	margin: 0;
}

#experience li{
	margin: 0.5em 0;
	background-color: #f4f5f8;
	padding: 1em;
	border-radius: 15px;
	list-style: none;
}

#experience .work_exp .checklist li{
	margin: 0.5em 1em;
	padding: 0;
	list-style: inside;
	list-style-type: disc;
}

#experience h3{
	font-size: 25px;
	margin: 0;
	padding-bottom: 0;
}

#experience hr{
	margin: 1.5em 0;
}

#experience .period{
	font-size: 18px;
	width: fit-content;
	background-color: rgba(248, 178, 28, 1);
	border-radius: 40px;
	margin: 0;
	padding: 10px;
}

#experience .title{
	font-size: 18px;
	margin: 0.75em 0 0.25em 0;
}

#experience .content{
	margin: 0;
}

#experience .gitlab{
	margin-top: 2em;
	color: black;
}

@media (max-width: 716px) {
	#experience{
		width: 100%;
		flex-direction: column;
		margin: 0;
		padding: 0;
		padding-top: 5%;
	}

	#experience .additional_exp{
		display: flex;
		flex-direction: column;
	}

	#experience .work_exp{
		width: 80%;
		padding: 5% 10%;
	}

	#experience .education{
		width: 80%;
		padding: 5% 10%;
	}

	#experience .projects{
		width: 80%;
		padding: 5% 10%;
	}

	#experience h3{
		font-size: 20px;
	}

	#experience .title{
		font-size: 15px;
	}

	#experience .period{
		font-size: 16px;
	}

	#experience .content{
		font-size: 14px;
	}

	#experience .work_exp{
		width: 80%;
		padding: 5% 10% 10% 10%;
	}

	#experience .gitlab{
		font-size: 12px;
		text-align: center;
	}
}
/*Experience page
end*/

/*Certificates page
start*/
#certificates{
	display: none;
}
/*Certificates page
end*/

/*Contact page
start*/
#contact{
	display: block;
	height: fit-content;
	min-height: fit-content;
	width: 96%;
	padding: 2%;
	text-align: center;
}

#contact span{
	display: flex;
	align-items: center;
	justify-content: center;
}

#contact h2{
	font-size: 30px;
}

#contact h3{
	font-size: 20px;
}

#contact .soc_media{
	width: fit-content;
	padding-right: 3%;
	text-align: left;
}

#contact .soc_media ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
	font-size: 16px;
}

#contact .soc_media ul li{
	padding: 0.3em 0;
	display: flex;
	justify-content: space-between;
}

#contact .soc_media a{
	color: black;
	text-decoration-line: underline;
	font-style: italic;
}

#contact .email{
	width: 49%;
	display: flex;
	flex-direction: column;
	padding-left: 1%;
	text-align: left;
}

#contact .form{
    height: unset;
    margin: 0.5em 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    border: 2px solid #c2c6ce;
    font-weight: 500;
}

#contact .form:focus {
		outline: none;
    border-color: rgba(248, 178, 28, 0.8);
    border-width: 3px;
}

#contact .form::placeholder {
    font-weight: 500;
    color: #9FA2AB;
}

#contact textarea{
	resize: none;
}

#contact .email button{
	width: fit-content;

	display: inline-block;
  	text-align: center;
	vertical-align: middle;

  	background-color: transparent;
  	border: 3px solid rgba(248, 178, 28, 0.8);
  	border-radius: 1em;

  	color: rgba(248, 178, 28, 1);
  	font-family: FredokaOne;
  	font-size: 16px;

  	padding: 0.5em 1em;
  	line-height: 1.5;

  	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, 
  				border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

#contact .email button:hover{

  	background-color: rgba(248, 178, 28, 1);
  	border-color: rgba(248, 178, 28, 1);
  	color: white;
}

#contact .wronginput{
	outline: none;
	border-color: rgba(235, 64, 52, 0.8);
	border-width: 3px;
}

@media (max-width: 716px) {
	#contact span{
		display: flex;
		flex-direction: column;
	}

	#contact h2{
		font-size: 23px;
	}

	#contact h3{
		font-size: 18px;
		text-align: center;
	}

	#contact .soc_media{
		padding: 3%;
	}

	#contact .soc_media ul{
		font-size: 14px;
	}

	#contact .email{
		width: 80%;
		padding: 3% 10%;
	}

	#contact .email button{
		 font-size: 14px;
	}
}
/*Contact page
end*/

/*Footer page
start*/
.footer{
	min-height: 15%;
	background-color: #2c3135;
	text-align: center;
}
.footer ul{
	width: 60%;
	height: 50%;
	margin: 0 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	padding-top: 2%;
}
.footer li{
	margin: 0 10%;
	width: fit-content;
}

.footer p{
	width: 80%;
	padding: 1em 0 1.5em 0;
	margin: 0 10%;
	font-family: SpaceMono;
	font-size: 14px;
	color: #f4f5f8;
}
.footer a{
	text-decoration: none;
}
.footer a p{
	width: fit-content;
	margin: 0;
	padding: 0.5em 0;
	text-decoration: none;
}

.footer img{
	height: 35px;
}

@media (max-width: 716px) {
	.footer ul{
		width: 90%;
		margin: 0 5%;
		padding: 5% 0 0 0;
	}

	.footer p{
		font-size: 12px;
	}

	.footer img{
		height: 30px;
	}
}
/*Footer page
end*/
